<% if @user == current_user %>
  <div class="container">
    <h3 class="text-secondary">Feel free to add your profile info.</h3>
    <%= form_for :profile, url: user_profiles_path(@user)  do |f| %>
      <%= render 'profiles/form', f: f %> 
    <% end %>  
  </div>
<% else %>
  <p><b>Name: </b> </p> 
  <p><b>Age: </b> </p>
  <p><b>Location: </b> </p>
  <p><b>Bio: </b> </p>
  <p><b>Joined: </b><%= @user.created_at.strftime("%b %-d, %Y") %> </p>
<% end %>

