<div class='flex flex-col md:flex-row md:items-center justify-between'>
    <div class='flex items-center'>
      <div>
        <span class="font-bold"><%= link_to notification.sender.username, notification.sender %></span>
        
        <span id=<%= "#{notification.notifiable_type.downcase}-message#{notification.sender.id}" %> >
          <%= notification.message %>
        </span>
      </div>
    </div>

    <% if notification.friend_request? %>
      <div class="self-end md:self-center mb-1 md:mb-0">
        <%= render 'friend_form',  :user => notification.sender %>
      </div>
    <% end %>
  </div>