<li class="list-group-item"><%= link_to notification.sender.username, notification.sender %>
        <span id=<%= "#{notification.notifiable_type.downcase}-message#{notification.sender.id}" %> >
          <%= notification.message %>
        </span>
    <% if notification.friend_request? %>
      <span class="float-end"><%= render 'friend_form', :user => notification.sender %></span>
    <% end %>
</li>