<% if @user == current_user %>
  <p><em>A stranger is just a friend you haven't met yet.</em>
    <%= link_to "Let's find some!", users_path %> </p>
<% else %>
  <p><%= @user.username %> doesn't have any friends yet. <br>
   <em>Would you like to be there first one?</em></p>
  <%= render 'friend_form', user: @user %>
<% end %>