<div id="<%= dom_id user %>">
  <ul class="list-group">
    <li class="d-flex align-items-center justify-content-between list-group-item"><a class="align-items-center" href="user_path"><%= user.username %></a>  <%= render 'friend_form', user: user %> </li>
  </ul>
</div>
