<div class="container mt-3"><h1>Users</h1>
  <div id="users">
    <ul class="list-group">
      <%= render @users %>
    </ul>  
  </div>
</div>

<%= render 'layouts/shared/popular_comments' %>
<%= render 'layouts/shared/popular_posts' %> 