<div class="container mt-2"><h1>Users</h1>
  <div id="users">
    <ul class="list-group">
      <%= render @users %>
    </ul>  
  </div>
</div>

<%= render 'layouts/popular_posts' %> 
<%= render 'layouts/popular_comments' %>