<div class="container">
  <h1>Notifications</h1>
  <% unless @new.empty? %>
    <h3>New</h3>
    <ul class="list-group">
      <%= render @new.includes(:sender) %>
      <% @new.read %>
    </ul>
  <% end %>
  
  <% unless @old.empty? %>
    <h3>Old</h3>
    <ul class="list-group">
      <%= render @old.includes(:sender) %>
    </ul>
  <% end %>
</div>