  <%= render 'layouts/error_messages', object: @post %>
  </br>
  <%= form_with model: @post,
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} do |form| %>
    <div class="d-flex">
    <%= form.text_area :body, placeholder: "What's on your mind?", class:"form-control", rows:"2"%>
    <%= form.submit 'Post', class:"align-self-end h-50 btn btn-primary ms-1 "%>
    </div>
  <% end %>
