<div id="pager" class="text-center">  
  <% if @posts.next_page %>
    <%= link_to(
          "",
          posts_path(all_posts: request.original_url.include?('all_posts=true'), page: (@posts.next_page)),
          class:"spinner-border text-primary",
          data: {
            turbo_stream: "",
            controller: "autoclick"
          }
        ) %>
  <% end %>
</div>
