<div class="container mt-3">
  <div class="container">
    <%= render 'form' %>
  </div>
  <div id="posts">  
    <%# @posts.each do |post| %>
        <%= render @posts %>
      <%# end %>    
  <div>
</div>  