<% content_for :right_top do %>
  <div class="container mt-3 mb-4 p-3 border shadow-sm rounded post">
    <h4 class="text-center">Top Comments</h4>
      <% Comment.includes(:user, :post,).popular.each do |comment| %>
        <%= link_to post_path(comment.post, comment: comment), class:"text-decoration-none" do %>    
          <div class="text-body fw-light border rounded p-3 post">
            <em><%= comment.body.truncate(30) %></em>
            &mdash; 
            <span class="text-primary"><%=comment.user.username %></span>
          </div>
          <% end %>
      <% end %>  
  </div>
<% end %>