<% content_for :right_top do %>
  <div class="container mt-3 mb-4 p-3 border shadow-sm rounded post">
    <h4 class="text-center">Top Comments</h4>
      <% Comment.includes(:user).popular.each do |comment| %>
          <figure class="quote">
          <em><%= comment.body.truncate(30) %></em>
          &mdash; <%= link_to "#{comment.user.username}", user_path(comment.user.id),
            class:"text-muted text-decoration-none" %>
          </figure>    
          <hr>
      <% end %>  
  </div>
<% end %>